@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");

* {
margin: 0;
padding: 0;
box-sizing: border-box;
list-style: none;
text-decoration: none;
transition: 0.3s linear;
}
:root {
--poppins: "Poppins", sans-serif;
--lato: "Lato", sans-serif;
--background: #eee;
--sidebars: #f37013;
--calenderBG: #f1f1fb;
--mainText: #fff;
--activeText: black;

--light: #f9f9f9;
--blue: #3c91e6;
--light-blue: #cfe8ff;
--dark-grey: #c3c3c3;
--dark: #342e37;
--red: #db504a;
--yellow: #ffce26;
--light-yellow: #fff2c6;
--orange: #fd7238;
--light-orange: #ffe0d3;
--color1: #DDE6ED;
--color2: #27374D;   
--color3: #526D82;      
--color4: #FF597B;       
--color5: #f3254e;
--color6: #62CDFF;
--color7: #9dd0e1;
}

html {
overflow-x: hidden;
}

body {
background: var(--background);
overflow-x: hidden;
}

body.dark {
--light: #0c0c1e;
--background: #060714;
--sidebars: #d37e42;
--calenderBG: #bfbfc6d1;
--mainText: black;
--activeText: #fff;
--dark: #fbfbfb;
}


.notification-container {
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 1rem;
    position: fixed;
    top: 5rem;
    right: 1rem;
    z-index: 9999;
  }
  .alert {
    width: fit-content;
    padding: 12px 46px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: large;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .alert.two {
    background-color: rgb(170, 255, 170, 0.5);
    border: 1px solid rgb(0, 255, 0);
  }
  
  .alert.one {
    background-color: rgba(255, 170, 170, 0.5);
    border: 1px solid rgb(255, 0, 0);
  } 
  

.sidebar {
position: fixed;
top: 0;
left: 0;
background: var(--sidebars);
height: 100%;
width: 280px;
z-index: 2000;
font-family: var(--lato);
transition: 0.3s ease;
overflow-x: hidden;
scrollbar-width: none;
overflow-y: hidden;
}

.sidebar.hide {
width: 60px;
}

.sidebar::-webkit-scrollbar {
display: none;
}

.sidebar .logo {
font-size: 24px;
font-weight: 700;
height: 56px;
display: flex;
flex-direction: column;
align-items: center;
color: var(--blue);
position: sticky;
top: 0;
left: 0;
background: var(--sidebars);
z-index: 500;
padding-bottom: 20px;
box-sizing: content-box;
gap: 15px;
}

.sidebar .logo i {
min-width: 60px;
display: flex;
justify-content: center;
}

.sidebar img {
width: 80px;
height: 100px;
object-fit: cover;
padding: 1rem 0rem;
}


.sidebar .side-menu {
width: 100%;
margin-top: 45px;
}

.sidebar .side-menu li {
height: 58px;
margin: 5px 0px 5px 8px;
background: transparent;
border-radius: 8px 0 0 8px;
padding: 4px;
}

.sidebar .side-menu li.active {
position: relative;
background: var(--background);
transition: 0.3s ease;
}

.sidebar .side-menu li.active::before {
content: "";
position: absolute;
height: 40px;
width: 40px;
border-radius: 50%;
right: 0;
top: -40px;
z-index: -1;
box-shadow: 20px 20px 0 var(--background);
}

.sidebar .side-menu li.active::after {
content: "";
position: absolute;
height: 40px;
width: 40px;
border-radius: 50%;
right: 0;
bottom: -40px;
z-index: -1;
box-shadow: 20px -20px 0 var(--background);
}

.sidebar .side-menu li a {
height: 100%;
width: 100%;
display: flex;
align-items: center;
border-radius: 48px;
font-size: 1.2rem;
color: var(--mainText);
white-space: nowrap;
overflow-x: hidden;
}

.sidebar.hide .side-menu li a {
width: calc(48px - (4px * 2));
}

.sidebar .side-menu li.active a {
color: var(--activeText);
}
.sidebar .side-menu.top li a:hover {
color: var(--activeText);
font-size: 1.4rem;
}
.sidebar .side-menu li a.logout {
color: black;
font-weight: 900;
}

.sidebar .side-menu li a i {
min-width: calc(60px - ((4px + 6px) * 2));
display: flex;
justify-content: center;
}

.content {
position: relative;
width: calc(100% - 280px);
left: 280px;
transition: 0.3s ease;
}

.sidebar.hide ~ .content {
width: calc(100% - 60px);
left: 60px;
}

.content .e {
height: 56px;
background: var(--sidebars);
padding: 0 24px;
display: flex;
align-items: center;
gap: 24px;
font-family: var(--lato);
position: sticky;
top: 0;
left: 0;
z-index: 1000;
}

.content .e::before {
content: "";
position: absolute;
width: 40px;
height: 40px;
border-radius: 50%;
left: 0;
bottom: -40px;
box-shadow: -20px -20px 0 var(--sidebars);
}

.content .e a {
color: var(--dark);
}

.content .e .fa-bars {
font-size: 1.7rem;
cursor: pointer;
color: var(--dark);
}

.content .e .nav-link {
font-size: 16px;
transition: 0.3s ease;
}

.content .e .nav-link:hover {
color: var(--blue);
}

.content .e form {
max-width: 400px;
width: 400px;
margin-right: auto;
}

.content .e form .form-input {
display: flex;
align-items: center;
height: 36px;
}

.content .e form .form-input input {
flex-grow: 1;
padding: 0 16px;
height: 100%;
border: none;
background: var(--background);
border-radius: 36px 0 0 36px;
outline: none;
width: 100%;
color: var(--dark);
}

.content .e form .form-input button {
width: 36px;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
background: var(--blue);
color: var(--light);
font-size: 18px;
border: none;
outline: none;
border-radius: 0 36px 36px 0;
cursor: pointer;
}

.content .e .switch-mode {
display: block;
min-width: 50px;
height: 25px;
border-radius: 25px;
background: var(--background);
cursor: pointer;
position: relative;
}

.content .e .switch-mode::before {
content: "";
position: absolute;
top: 2px;
left: 2px;
bottom: 2px;
width: calc(25px - 4px);
background: var(--blue);
border-radius: 50%;
transition: 0.3s ease;
}

.content .e #switch-mode:checked + .switch-mode::before {
left: calc(100% - (25px - 4px) - 2px);
}

.content .e .notification {
font-size: 20px;
position: relative;
}

.content .e .notification .num {
position: absolute;
top: -6px;
right: -6px;
width: 20px;
height: 20px;
border-radius: 50%;
border: 2px solid var(--light);
background: var(--red);
color: var(--light);
font-weight: 700;
font-size: 12px;
display: flex;
align-items: center;
justify-content: center;
}

.content .e .profile img {
width: 36px;
height: 36px;
border-radius: 50%;
object-fit: cover;
}








.content main {
width: 100%;
padding: 36px 24px;
font-family: var(--poppins);
max-height: calc(100vh - 56px);
/* overflow-x: hidden; */
overflow-y: hidden;
}
.content main .upper-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.upper-part .head-title {
    font-size: 3rem;
    font-weight: 600;
    color: var(--sidebars);
    padding-left: 5rem;
}


/*------------------------------------------Calender------------------------------------------*/
.upper-part .clndr {
    display: flex;
    align-items: center;
    justify-content: center;
}
.clndr .calendar {
    max-width: 450px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--calenderBG);
}
.calendar .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
}
.calendar .header .month {
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: #1d1d1d;
}
.calendar .header .btns {
    display: flex;
    gap: 10px;
}
.calendar .header .btns .btn {
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #000000;
    background-color: var(--sidebars);
    font-size: 16px;
    transition: all 0.3s;
}
.calendar .header .btns .btn:hover {
    background-color: #d9620d;
    transform: scale(1.05);
}
.weekdays {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.weekdays .day {
    width: calc(100% / 7 - 10px);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
.days {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.days .day {
    width: calc(100% / 7 - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    color:  #1d1d1d;
    transition: all 0.3s;
}
.days .day:not(.next):not(.prev):hover {
    color: #fff;
    background-color: var(--sidebars);
    transform: scale(1.05);
    cursor: default;
}
.days .day.today {
    font-size: 1.1rem;
    font-weight: bold;
    background-color: var(--sidebars);
}
.days .day.next,
.days .day.prev {
    color: #ccc;
}



.content main .lower-part   {
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-top: 80px;
    gap: 20px;
}

/*---------------------------------------------------Notice--------------------------------------*/
.lower-part .todo-1 {
    flex-grow: 1;
    flex-basis: 300px;
    width: 100%;
}

.todo .blur{
    width: 100%;
    height: 295px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blur h1 {
    font-size: 2rem;
    color: rgb(52, 46, 55, .3);
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.25);
}
.todo-1 .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 10px 30px 10px 8px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}
.todo-list {
    max-height: 300px;
    overflow-y: auto;
}

.todo-list::-webkit-scrollbar {
    display: none;
}
.todo-1 .todo-list li {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 25px;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 2px;
    padding: 14px 20px;
    margin-bottom: 2px;
    background-color: rgb(160, 160, 160, .3);
}
.todo-1 .todo-list li:hover {
    background-color: rgb(160, 160, 160, .5);
    cursor: pointer;
}
.todo-1 .notice-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 17px;
    background: var(--color7);
    border-radius: 5px;
}
.todo-1 .notice-container a {
    text-decoration: none;
    color: var(--dark);
}



.lower-part .todo {
flex-grow: 1;
flex-basis: 300px;
max-width: 450px;
}
.todo .head {
    display: flex;
    justify-content: right;
    gap: 20px;
    align-items: center;
    height: 40px;
    padding: 10px 30px 10px 8px;
    border-bottom: 1px solid var(--activeText);
    margin-bottom: 10px;
    color: var(--activeText);
}

.todo .head i {
    margin-top: 10px;
    font-size: 1.1rem;
    color: var(--activeText);
}
.todo .todo-list {
    width: 100%;
}
.todo .todo-list li {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 16px;
    background: rgb(248, 196, 98 , .3);
    border-radius: 10px;
    padding: 14px 20px;
}

.todo-list .hdr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--activeText);
    margin-bottom: 8px;
}

.hdr p {
    color: #27374D;
    font-weight: 900;
    font-size: 1.2rem;
}

.hdr a .bx.bxs-message-square-x {
    font-size: 1.1rem;
    margin-right:10px;
    color: red;
}

.hdr a .bx.bxs-edit-alt {
    font-size: 1.1rem;
    margin-right:10px;
    color: var(--activeText);
}

.todo .todo-list li:last-child {
margin-bottom: 0;
}



::-webkit-scrollbar {
width: 0.5rem;
height: 0.5rem;
}

::-webkit-scrollbar-track {
background: #d9d9d9;
}

::-webkit-scrollbar-thumb {
background: var(--blue);
border-radius: 5rem;
}

@media (max-width: 768px) {
.sidebar {
    width: 200px;
}

.content {
    width: calc(100% - 200px);
    left: 200px;
}

.content nav .nav-link {
    display: none;
}
}

@media (max-width: 576px) {
.content nav form .form-input input {
    display: none;
}

.content nav form .form-input button {
    width: auto;
    height: auto;
    background: transparent;
    border-radius: none;
    color: var(--dark);
}

.content nav form.show .form-input input {
    display: block;
    width: 100%;
}

.content nav form.show .form-input button {
    width: 36px;
    height: 36px;
    border-radius: 0 36px 36px 0;
    color: var(--light);
    background: var(--red);
}

.content nav form.show ~ .notification,
.content nav form.show ~ .profile {
    display: none;
}

.content main .table-data .head {
    min-width: 420px;
}

.content main .table-data .order table {
    min-width: 420px;
}

.content main .table-data .todo .todo-list {
    min-width: 420px;
}
}

.note-popup {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}

.note-popup .popup-content {
    background-color: var(--light-yellow);
    padding: 20px;
    border: 1px solid #888;
    margin: 10% auto;
    width: 350px;
    height: 310px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.note-popup .popup-content .close {
    align-self: flex-end;
    font-size: 25px;
    cursor: pointer;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    outline: none;
}

textarea {
    height: 150px;
    resize: none;
}

.note-popup .popup-content button {
    margin: 0px 20%;
    padding: 10px;
    background-color: rgb(227, 143, 54);
    color: rgb(0, 0, 0);
    font-size: medium;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 60%;
}

.note-popup .popup-content button:hover {
    background-color: var(--sidebars);
}