@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
:root {
    --sidebars: cadetblue;
    --textcolor: #35374B;
    --popups: #78A083;
    --sidebars2: #CCD5AE;
    --bodyBackground: #ffffff;
    --backGround1 : #2f2f2f;
    --backGround2 : #71717a;
    --textColor : #040D12;
    --textColor2 : #DDE6ED;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; /* Ensures the floating background is positioned correctly */
    margin: 0; /* Resets any default margin */
    overflow: hidden; /* Ensures the floating background does not cause scrollbars */
}
.auth-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-width: 100%;
    min-height: 100vh;
}

.auth-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.r {
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(-135deg, #0C7B93 0%, #27496D 100%);
}

/* Large circles */
.r:not(.s) {
    width: 282px;
    height: 282px;
}
.r.s {
    width: 25px;
    height: 25px;
    background: #4654c8;
}

.r:nth-child(odd) {
    animation: floating 7s infinite;
}

.r:nth-child(even) {
    animation: floating 9s infinite;
}
@keyframes floating {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}
.r:first-child {
    top: 2rem;
    left: 65rem;
}
.r.s:nth-child(2) {
    top: 20rem;
    right: 13rem;
    background: linear-gradient(-135deg, #1ee492 0%, #662bd6 100%);
}
.r.s:nth-child(3) {
    bottom: 22rem;
    left: 48rem;
    background: linear-gradient(-135deg, #d6b12f 0%, #f45136 100%);
}
.r:last-child {
    bottom: 1rem;
    right: 42rem;
    background: linear-gradient(-135deg, #1ee492 0%, #662bd6 100%);
}

.login-container, .alert {
    position: relative;
    z-index: 2;
}

.login-container.two{
    text-align: center;
    width: 50%;
    padding: 20px;
    border-radius: 3px;
    background: #ff7717;
}
.login-container.two form {
    margin: 0px 1.8rem;
}

.login-container {
    width: 350px;
    text-align: center;
    padding: 20px;
    border-radius: 3px;
    background: linear-gradient(-175deg, var(--sidebars) 0%, var(--popups) 100%);
}

.alert {
    width: 386px;
    text-align: center;
}
.alert.one h5 {
    padding: 8px;
    background-color: rgba(255, 170, 170, 0.5);
    border-radius: 8px;
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: medium;
}
.alert.two h5 {
    padding: 8px;
    background-color: rgb(170, 255, 170, 0.5);
    border-radius: 8px;
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: medium;
}
h1 {
    font-size: 2.5rem;
    color: black;
    padding: 0;
    margin: 10px 0px 20px 0px;
}
form {
    padding: 0;
    margin: 2rem 10px 10px;
    align-items: center;
    justify-items: center;
}


.input-container {

    text-align: left;
    margin-bottom: 10px;
    color: white;
}
label {
    display: block;
    color: black;
    font-size: small;
}
input {
    width: 95%;
    padding: 5px 2px 5px 15px;
    border: none;
    border-bottom: 1.5px solid rgb(0, 0, 0);
    font-size: 1rem;
    font-family: 'Poppins';
    background-color:  transparent;
    font-weight: 400;
    color: #000000;
    outline: none;
}
input:hover {
    background-color:  rgb(255, 255, 255, .5);
    border-radius: 8px;
}
button {
    width: 100%;
    background-color: antiquewhite;
    color: black;
    border: none;
    padding: 10px 10px;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}
button:hover {
    background-color: rgb(255, 227, 190);
}
a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: small;
}
p {
    color: var(--bodyBackground);
    font-weight: 400;
    margin: 2px 0 0 0;
    font-size: small;
}
.forgetPass {
    text-align: right;
    margin-right: 13px;
    margin-bottom: 40px;
}
.forgetPass a {
    color: rgb(214, 214, 214);
    font-size: small;
    font-weight: 300;
}
.forgetPass a:hover {
    color: black;
}

.img {
    display:flex; 
    align-items:center; 
    background-color: rgb(95, 158, 160, .5);
    padding: 70px;
}

.img img {
    width: 300px;
}

